$PRIMARY: #477db8;
$CONTRAST: #fffaff;
$BACKGROUND: #19222a;
$BACKGROUND_PAPER: #1e29339c;
$BG_PAPER_NO_ALPHA: #1e2933;
$NAVBAR_BG: #1e2933;
$SCROLLBAR_BG: $NAVBAR_BG;
$SCROLLBAR_TRACK_BG: #141b22;
$DIVIDER: #2f3c49da;
$PRIMARY_TEXT: #f3f3f3db;
$SECONDARY_TEXT: #bccfe2;
